
h1.payRightH1,h2.payRightH2,h2.payRightH2why,h2.payRightH2works,h3.payRightH3,h4.payRightH4,h5.payRightH5,h6.payRightH6, p.payRightPayment{
	font-family: 'Roboto', sans-serif;
	color: #275f95;
}


body .woocommerce-product-details__short-description p {
	color: white;
}

h1.payRightH1 {
	font-size: 54px;
	line-height: 60px;
	text-transform: uppercase;
	font-weight: 400;
	color: #4e84b5;
}
h2.payRightH2 {
	/*font-size: 32px;*/
	margin: 0px; 	/*25px 0 35px;*/
	text-align: center;
	font-weight: 500;
	
}
.payRight_blueStrip h2.payRightH2works, .insideColumns h2.payRightH2why{
	font-size: 32px;
	margin: 25px 0 35px;
	text-align: center;
	/*padding-bottom: 20px;*/
}
.insideColumns h4.payRightH4{
	font-weight:500;
}
h4.payRightH4 {
	font-size: 22px;
	text-align: center;
}

h5.payRightH5 {
	font-weight: 900;
	font-size: 18px;
}
p.payRightPayment {
	font-size: 12px;
	text-align: center;
	color: #666;
	margin-bottom: 40px;
	margin-top: 0;
}

p.payRightp {
	font-size: 18px;
	text-align: center;
	color: white;
	
}
#merchantname{
	text-align: right;
}

#payRightp{
	color: white;
}
/*#payrightis8{
	padding-left: 0px;
}*/
#payrightmargin{
	padding-bottom: 10px;
}
#payrightdeposit, #payrightmargin {
	text-align: left;
	padding-left: 0px;
	font-size:15px;
}

a {
	color: #275f95;
}
.payRight_columns > .insideColumns > button.payrightbutton {
	background-color: #275f95;
	color: #ffffff;
	font-size: 28px;
	width: 100%;
	text-align: center;
	padding: 10px; 
	text-transform: none;
	border-color: white;
}

.circleArrow  {

	text-align: center;

	position: relative;
	cursor: pointer;
	padding-bottom: 0px;

	
}
.circleArrow  h2.payRightH2 {
	color: #fff;
	
	line-height: 30px;

	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);  /* tweak for precise centering; details:*/ 
}

.payRightimg   {
	width: 300px !important; 
	/*vertical-align: middle !important;
    margin: -2px 0 0 .5em !important;
    padding: 0 !important;
    position: relative !important;
    box-shadow: none !important;*/
}
.circleArrow h2.payRightH2 span.installments {
	
	font-weight: 700;
	line-height: 30px;
}


span.installments {

	color:#fff;
}
header {
	padding: 40px 0;
}

.payRight_container {
	width: auto;
	margin: auto;
}

#tellmemore {
		color: white;
		text-decoration-line: none;
	}

header {
	padding: 40px 0;
}

.bodybox {
	margin: 0px;
}

.payRight_container {
	width: auto;
	margin: auto;
}

.payRight_blueStrip {
	background-color: #275f95;
	padding-bottom: 30px;
}
.payRight_blueStrip h2, .payRight_blueStrip p {
	color: #ffffff;
}
p.payRight_blueStrip{
	color: white;
}
.payRight_blueStrip p.payRightp {
	text-align: left;
	color:white;
}
.insideColumns p.payRightpwhy{
	font-weight: 900;
    font-size: 22px;
    line-height: 28px;
    color: #275f95;
    text-align: center;
}
.numC {
	font-size: 30px;
	background-color: #ffffff;
	color: #275f95;
	border-radius: 50px;
	float: left;
	padding: 5px 18px;
	margin-right: 10px;
	font-weight: bold;
}

.payRight_points p {
	font-weight: 900;
	font-size: 22px;
	line-height: 28px;
}
.payRight_points {
	margin: 30px 0 30px 0 !important;
}
.pointsCenter {
	border-left: 2px solid #b2b3b6;
	border-right: 2px solid #b2b3b6;
}

.info {
	background-color: #b2b3b6;
	margin-bottom: 30px !important;
}
.info p {
	color: #ffffff;
	text-align: left;
	font-size: 16px;
}

.insideColumns p.payRightpimportant{
color: #ffffff;
	text-align: left;
	font-size: 16px;
}



.payRight_blueStrip2 {
	background-color: #275f95;
	padding-bottom: 30px;
}
.payRight_blueStrip2 h2, .payRight_blueStrip2 p {
	color: #ffffff;
}
.payRight_blueStrip2 p {
	text-align: center !important;
	font-weight: 300;
	font-size: 22px;
}
.payRight_blueStrip2 .insideColumns {
	text-align: center !important;
	padding-bottom: 30px;
}
.payRight_blueStrip2 {
    margin-bottom: 0;
    padding-bottom: 0;
}
.payRight_blueStrip2 img {
	text-align: center;
	width: 50%;
	margin-bottom: 14px;
}

.payRight_blueStrip2 .payRight_topleft2 {
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	margin-bottom: 0px;
}
.payRight_blueStrip2 .payRight_bottomright2 {
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	margin-top: -1px;
}
.payRight_blueStripBottom2 {
	margin-bottom: 30px !important;
	padding: 0 80px 30px 80px;
}
.payRight_blueStripTop2 {
	padding: 30px 80px 0px 80px;
}
.numC {
	font-size: 30px;
	background-color: #ffffff;
	color: #275f95;
	border-radius: 50px;
	float: left;
	padding: 5px 18px;
	margin-right: 10px;
	font-weight: bold;
}

.info2 {
	background-color: #b2b3b6;
	margin-bottom: 30px !important;
}
.info2 p {
	color: #ffffff;
	text-align: left;
	font-size: 16px;
}

@media only screen and (max-width: 770px) {

	.circleArrow h2.payRightH2{
	line-height: 30px;
	font-size:28px;
	}

	.circleArrow h2.payRightH2 span.installments {
	
	font-weight: 700;
	line-height: 30px;
	font-size:40px;
}
	 h1.payRightH1{
		text-align: center;
		font-size: 36px;
		
	}
	 h2.payRightH2 {
		text-align: center;
		font-size: 20px;
		line-height: 20px;
	}
	p.payRightPayment {
		font-size: 12px;
		line-height: 18px;
		margin-top: 0;
	}
	br {
		display: inline !important;
	}
	.imgCol {
		text-align: center;
	}
	 .imgCol  img{
		width: 40%;
	}
	.PointsInBlueStrip {
		padding-left: 15%;
	}
	.pointsCenter {
		border-left: 0px solid #b2b3b6;
		border-right: 0px solid #b2b3b6;
		border-top: 2px solid #b2b3b6;
		border-bottom: 2px solid #b2b3b6;
	}
	.info p {
		font-size: 12px;
		line-height: 18px;
	}

	.headerLast {
		height: 0px;
	}
	.imgPayRight {
		text-align: center;
	}
	.imgPayRight img {
		width: 60%;
	}
	.payRightimg {
     width: 60%; 
}
	.payRight_blueStrip2 img {
		width: 80%;
	}
	.payRight_blueStrip2 .payRight_topleft2 {
		border-right: 0px solid #fff;
		border-bottom: 0px solid #fff;
		margin-bottom: 0px;
	}
	.payRight_blueStrip2 .payRight_bottomright2 {
		border-left: 0px solid #fff;
		border-top: 0px solid #fff;
		margin-top: 0px;
	}
	.payRight_blueStripBottom2 {
		margin-bottom: 30px !important;
		padding: 0 30px 30px 30px;
	}
	.payRight_blueStripTop2 {
		padding: 30px 30px 0px 30px;
	}
	.payRight_blueStrip2 .insideColumns {
		border-bottom: 1px solid #ffffff;
	}
	.payRight_blueStrip2 .payRight_bottomright2 {
		border-bottom: 0px solid #fff;
	}
	.info2 p {
		font-size: 12px !important;
		line-height: 14px;
	}
	#payRightp {
	color: white;
	}
}

@media only screen and (min-width: 771px) {
	.bodybox {
		padding: 0 40px 0 40px;
	}

	 h2.payRightH2 {
		text-align: center;
		font-size: 12px;
		line-height: 20px;
	}
	.circleArrow h2.payRightH2 span.installments {
	
	font-weight: 700;
	line-height: 0px;
	font-size:27px;
}

.circleArrow h2.payRightH2{
	line-height: 20px;
	font-size: 20px;
	transform: translate(-40%, -34%); 
}
#payRightp{
	color: white;
}


}

/*prestashop*/
  #products .product-description, .featured-products .product-description, .product-accessories .product-description, .product-miniature .product-description {
    position: absolute !important;
    background: inherit;
    bottom: 0;
    height: auto !important;
}

span.payright-logo-product > img{

  height:40px;
  margin-left: -6px;

}



